@import "tailwindcss";

:root {
  /* Kunci skema warna browser ke light saja */
  color-scheme: light only;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Font Utama (Inter) */
  --font-sans: var(--font-inter), sans-serif;
  
  /* Font Khusus (Jakarta & Rubik) */
  --font-jakarta: var(--font-jakarta), sans-serif;
  --font-rubik: var(--font-rubik), sans-serif; /* 🔥 Tambahkan baris ini */
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* hide scrollbar tapi tetap bisa scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}